<app-user-header></app-user-header>
<div class="container">
  <h1 class="mt-5">Нові завдання</h1>

  <div style="display: flex; flex-direction: row; justify-content: space-between">

    <mat-form-field appearance="outline">
      <mat-label>Пошук</mat-label>
      <input matInput (keyup)="applyFilterTasksCreated($event)" #input>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSourceTasksCreated" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <div class="mat-sort-header-container">
        <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> ID </th>
      </div>
      <td mat-cell hidden *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва завдання </th>
      <td mat-cell class="name-task" *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Опис </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="createTime">
      <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата створення </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.createTime}} </td>
    </ng-container>

    <ng-container matColumnDef="dueTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дедлайн </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.overdue" style="background: tomato; border-radius: 4px; padding-left: 7px; padding-right: 7px">
          {{row.dueTime}}
        </div>
        <div *ngIf="!row.overdue" style="background: white">
          {{row.dueTime}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата початку виконання </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата закінчення </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef> Виконавець </th>
      <td mat-cell *matCellDef="let row"> {{row.assignee.name}} {{row.assignee.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef> Автор </th>
      <td mat-cell *matCellDef="let row"> {{row.creator.name}} {{row.creator.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="lastEditTime">
      <th mat-header-cell hidden *matHeaderCellDef mat-sort-header> Дата редагування </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.lastEditTime}}</td>
    </ng-container>

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Проект </th>
      <td mat-cell id="name-project" *matCellDef="let row"> {{row.project.name}}</td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Пріорітет </th>
      <td mat-cell *matCellDef="let row"> {{row.priority}}</td>
    </ng-container>

    <ng-container matColumnDef="stage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Стадія </th>
      <td mat-cell  *matCellDef="let row">{{row.stage}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип завдання </th>
      <td mat-cell *matCellDef="let row"> {{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="moreAboutTask(row)" color="primary">
          <mat-icon>more</mat-icon>
        </button>
        <button mat-button (click)="startTask(row)" color="primary">
          Розпочати
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Не знайдено завдань</td>
    </tr>
  </table>

  <mat-paginator #paginatorNewTask [pageSizeOptions]="[5, 10, 25, 100, 1000]" aria-label="Select page of users"></mat-paginator>

</div>

<div class="container">
  <h1 class="mt-5">Завдання в роботі</h1>

  <div style="display: flex; flex-direction: row; justify-content: space-between">

    <mat-form-field appearance="outline">
      <mat-label>Пошук</mat-label>
      <input matInput (keyup)="applyFilterTasksInProgress($event)" #input>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSourceTasksInProgress" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <div class="mat-sort-header-container">
        <th mat-header-cell hidden *matHeaderCellDef> ID </th>
      </div>
      <td mat-cell hidden *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Назва завдання </th>
      <td mat-cell class="name-task" *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell hidden *matHeaderCellDef> Опис </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="createTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата створення </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.createTime}} </td>
    </ng-container>

    <ng-container matColumnDef="dueTime">
      <th mat-header-cell *matHeaderCellDef> Дедлайн </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.overdue" style="background: tomato; border-radius: 4px; padding-left: 7px; padding-right: 7px">
          {{row.dueTime}}
        </div>
        <div *ngIf="!row.overdue" style="background: white">
          {{row.dueTime}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата початку виконання </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата закінчення </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef> Виконавець </th>
      <td mat-cell *matCellDef="let row"> {{row.assignee.name}} {{row.assignee.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef> Автор </th>
      <td mat-cell *matCellDef="let row"> {{row.creator.name}} {{row.creator.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="lastEditTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата редагування </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.lastEditTime}}</td>
    </ng-container>

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Проект </th>
      <td mat-cell id="name-project" *matCellDef="let row"> {{row.project.name}}</td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Пріорітет </th>
      <td mat-cell *matCellDef="let row"> {{row.priority}}</td>
    </ng-container>

    <ng-container matColumnDef="stage">
      <th mat-header-cell *matHeaderCellDef> Стадія </th>
      <td mat-cell *matCellDef="let row"> {{row.stage}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Тип завдання </th>
      <td mat-cell *matCellDef="let row"> {{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="moreAboutTask(row)" color="primary">
          <mat-icon>more</mat-icon>
        </button>
        <button mat-button (click)="finishTask(row)" color="primary">
          Завершити
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Завдання відсутні</td>
    </tr>
  </table>

  <mat-paginator #paginatorInProgress [pageSizeOptions]="[5, 10, 25, 100, 1000]" aria-label="Select page of users"></mat-paginator>

</div>

<div class="container">
  <h1 class="mt-5">Завдання на перевірці</h1>

  <div style="display: flex; flex-direction: row; justify-content: space-between">

    <mat-form-field appearance="outline">
      <mat-label>Пошук</mat-label>
      <input matInput (keyup)="applyFilterTasksOnReview($event)" #input>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSourceTasksOnReview" #sortOnReview matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <div class="mat-sort-header-container">
        <th mat-header-cell hidden *matHeaderCellDef> ID </th>
      </div>
      <td mat-cell hidden *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Назва завдання </th>
      <td mat-cell class="name-task" *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell hidden *matHeaderCellDef> Опис </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="createTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата створення </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.createTime}} </td>
    </ng-container>

    <ng-container matColumnDef="dueTime">
      <th mat-header-cell *matHeaderCellDef> Дедлайн </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.overdue" style="background: tomato; border-radius: 4px; padding-left: 7px; padding-right: 7px">
          {{row.dueTime}}
        </div>
        <div *ngIf="!row.overdue" style="background: white">
          {{row.dueTime}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата початку виконання </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата закінчення </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef> Виконавець </th>
      <td mat-cell *matCellDef="let row"> {{row.assignee.name}} {{row.assignee.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef> Автор </th>
      <td mat-cell *matCellDef="let row"> {{row.creator.name}} {{row.creator.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="lastEditTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата редагування </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.lastEditTime}}</td>
    </ng-container>

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Проект </th>
      <td mat-cell id="name-project" *matCellDef="let row"> {{row.project.name}}</td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Пріорітет </th>
      <td mat-cell *matCellDef="let row"> {{row.priority}}</td>
    </ng-container>

    <ng-container matColumnDef="stage">
      <th mat-header-cell *matHeaderCellDef> Стадія </th>
      <td mat-cell *matCellDef="let row"> {{row.stage}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Тип завдання </th>
      <td mat-cell *matCellDef="let row"> {{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="moreAboutTask(row)" color="primary">
          <mat-icon>more</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Завдання відсутні</td>
    </tr>
  </table>

  <mat-paginator #paginatorOnReview [pageSizeOptions]="[5, 10, 25, 100, 1000]" aria-label="Select page of users"></mat-paginator>

</div>

<div class="container">
  <h1 class="mt-5">Виконані завдання</h1>

  <div style="display: flex; flex-direction: row; justify-content: space-between">

    <mat-form-field appearance="outline">
      <mat-label>Пошук</mat-label>
      <input matInput (keyup)="applyFilterTasksReleased($event)" #input>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSourceTasksReleased" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <div class="mat-sort-header-container">
        <th mat-header-cell hidden *matHeaderCellDef> ID </th>
      </div>
      <td mat-cell hidden *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Назва завдання </th>
      <td mat-cell class="name-task" *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell hidden *matHeaderCellDef> Опис </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="createTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата створення </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.createTime}} </td>
    </ng-container>

    <ng-container matColumnDef="dueTime">
      <th mat-header-cell *matHeaderCellDef> Дедлайн </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.overdue" style="background: tomato; border-radius: 4px; padding-left: 7px; padding-right: 7px">
          {{row.dueTime}}
        </div>
        <div *ngIf="!row.overdue" style="background: white">
          {{row.dueTime}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата початку виконання </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата закінчення </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef> Виконавець </th>
      <td mat-cell *matCellDef="let row"> {{row.assignee.name}} {{row.assignee.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef> Автор </th>
      <td mat-cell *matCellDef="let row"> {{row.creator.name}} {{row.creator.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="lastEditTime">
      <th mat-header-cell hidden *matHeaderCellDef> Дата редагування </th>
      <td mat-cell hidden *matCellDef="let row"> {{row.lastEditTime}}</td>
    </ng-container>

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Проект </th>
      <td mat-cell id="name-project" *matCellDef="let row"> {{row.project.name}}</td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Пріорітет </th>
      <td mat-cell *matCellDef="let row"> {{row.priority}}</td>
    </ng-container>

    <ng-container matColumnDef="stage">
      <th mat-header-cell *matHeaderCellDef> Стадія </th>
      <td mat-cell *matCellDef="let row"> {{row.stage}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Тип завдання </th>
      <td mat-cell *matCellDef="let row"> {{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="moreAboutTask(row)" color="primary">
          <mat-icon>more</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Завдання відсутні</td>
    </tr>
  </table>

  <mat-paginator #paginatorFinished [pageSizeOptions]="[5, 10, 25, 100, 1000]" aria-label="Select page of users"></mat-paginator>

</div>










